extends ../default

block content
  include ../template/nav
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])
      h2(class=['ui','header','blue','dividing'])= 'Crear Cliente'
      
      div(class='form-nuevocliente')
        form(class=['ui', 'form'] action='http://localhost:3000/crearcliente' method='post')
          div(class=['ui', 'two', 'field'])
            div(class=['ui field'])
              label(for='cedula')= 'Cédula / RNC'
              input(type='text' name='cedula' placeholder='Cédula / RNC')
            div(class=['ui field'])
              label(for='descripcion')= 'Descripcion del cliente'
              input(type='text' name='descripcion' placeholder='Descripcion')
          div(class=['ui','four','fields'])
            div(class=['ui','field'])
              label(for='calle')= 'Calle'
              input(type='text' name='calle' placeholder='Calle')
            div(class=['ui','field'])
              label(for='numero')= 'Numero'
              input(type='number' name='numero' placeholder='Numero')
            div(class=['ui','field'])
              label(for='sector')= 'Sector'
              input(type='text' name='sector' placeholder='Sector')
            div(class=['ui field'])
              label(for='provincia')= 'Provincia'
              //input(type='text' name='provincia' placeholder='Provincia')
              select(class=['ui search dropdown'] name='provincia' placeholder='Provincia')
                option(value='')= ''
                option(value='Azua')= 'Azua'
                option(value='Bahoruco')= 'Bahoruco' 
                option(value='Barahona')= 'Barahona'
                option(value='Dajabón')= 'Dajabón'
                option(value='Distrito Nacional')= 'Distrito Nacional'
                option(value='Duarte')= 'Duarte'
                option(value='Elías Piña')= 'Elías Piña'
                option(value='El Seibo')= 'El Seibo'
                option(value='Espaillat')= 'Espaillat'
                option(value='Hato Mayor')= 'Hato Mayor'
                option(value='Hermanas Mirabal')= 'Hermanas Mirabal'
                option(value='Independencia')= 'Independencia'
                option(value='La Altagracia')= 'La Altagracia'
                option(value='La Romana')= 'La Romana'
                option(value='La Vega')= 'La Vega'
                option(value='Maria Trinidad Sánchez')= 'Maria Trinidad Sánchez'
                option(value='Monseñor Nouel')= 'Monseñor Nouel'
                option(value='Monte Cristi')= 'Monte Cristi'
                option(value='Monte Plata')= 'Monte Plata'
                option(value='Pedernales')= 'Pedernales'
                option(value='Peravia')= 'Peravia'
                option(value='Puerto Plata')= 'Puerto Plata'
                option(value='Samaná')= 'Samaná'
                option(value='San Cristobal')= 'San Cristobal'
                option(value='San José de Ocoa')= 'San José de Ocoa'
                option(value='San Juan')= 'San Juan'
                option(value='San Pedro de Macorís')= 'San Pedro de Macorís'
                option(value='San Cristobal')= 'San Cristobal'
                option(value='Santiago')= 'Santiago'
                option(value='Santiago Rodríguez')= 'Santiago Rodríguez'
                option(value='Santo Domingo')= 'Santo Domingo'
                option(value='Valverde')= 'Valverde'
                
          div(class=['ui two fields'])
            div(class=['ui field'])
              label(for='latitud')= 'Latitud'
              input(type='text' name='latitud' placeholder='Latitud')
            div(class=['ui field'])
              label(for='longitud')= 'Longitud'
              input(type='text' name='longitud' placeholder='Longitud')              
          button(class=['ui','button','basic','black'])= 'Crear Cliente'
          div(class=['ui','message','error'])
      
      if info != undefined 
        div(class=['ui', 'message','success'])
          i(class=['close', 'icon'])
          div(class='header')= 'Cliente registrado'
          p= info
    script(src='/javascripts/validacion.js')
